.navbar-contain-css {
    background-color: #03dac6 !important;

    .navbar {
        padding: 0 !important;

        .nav-item {
            padding: 15px 0;

            &:hover {
                background-color: #018786;
            }

            a {
                text-transform: uppercase;
                font-weight: 600;
                color: #fff;
            }
        }

        .right-icon {
            font-size: 24px !important;
            color: #fff;
        }

        .navbar-custom-css {
            color: #fff;
        }

        .search-form {
            position: relative;

            .search-input {
                border-radius: 0;
                width: 400px;
                min-width: 250px;
            }

            .btn-search {
                border-radius: 0;
                padding-left: 20px;
                padding-right: 20px;
                position: absolute;
                right: 0;
                background-color: #ff664b;
                color: #fff !important;

                &:hover {
                    background-color: #ff4f30;
                }
            }
        }
    }

}