<div class="bg-dark" style="width: 100vw;">
    <div class="container">
        <nav class="navbar">
            <a href="" class="nav-logo">PShop</a>
            <input type="text" class="search-input">
            <a href="">Tra cứu đơn hàng</a>
            <a href="">Giỏ hàng</a>
            <a href="">Tên user</a>
            <ul class="detail-user-list">
                <li>
                    <a href="">Tài khoản</a>
                </li>
                <li>
                    <a href="">Đăng xuất</a>
                </li>
            </ul>
        </nav>
    </div>
</div>