<div class="body">
    <div class="container form-contain">
        <div class="container-fluid">
            <form class="form-main" (submit)="onSubmit()" method="post" [formGroup]="form">
                <div
                    style="text-align: center;margin-bottom: 15px;border-bottom: 1px solid var(--basecolor);padding-bottom: 7px;">
                    <img src="/src/assets/wave.svg" alt="">
                    <label for="" style="font-size: 45px;font-weight: 600;text-transform: uppercase;">đặt lại mật
                        khẩu</label>
                </div>
                <div class="mb-3 mt-2">
                    <mat-form-field class="mb-3">
                        <mat-label>Mật khẩu mới</mat-label>
                        <input type="password" matInput formControlName="password" id="password">
                        <mat-error *ngIf="form.controls['password'].invalid" class="mt-2">Mật khẩu không hợp
                            lệ</mat-error>
                    </mat-form-field>
                </div>
                <div class="mb-3 mt-2">
                    <mat-form-field class="mb-3">
                        <mat-label>Nhập lại mật khẩu</mat-label>
                        <input type="password" matInput formControlName="duplicatePassword" id="duplicatePassword">
                        <mat-error *ngIf="form.controls['duplicatePassword'].invalid" class="mt-2">Mật khẩu không hợp
                            lệ</mat-error>
                    </mat-form-field>
                </div>
                <button type="submit" class="btn-common-base w-100" mat-button>Đặt lại mật khẩu</button>
                <div style="text-align: right;">
                    <label for="" class="mt-4">
                        <a [routerLink]="'/signup'" class="common-link me-3">Đăng ký</a>
                        <a [routerLink]="'/login'" class="common-link">Đăng nhập</a>
                    </label>
                </div>
            </form>
        </div>
    </div>
</div>