.card {
    height: inherit !important;
}

.text-align-left {
    text-align: left !important;
}

.img {
    width: 70px !important;
    height: 70px !important;
    object-fit: cover;
    object-position: center;
}

.background {
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}