<div class="px-3">
  <h2 class="bold dot-three-rem uppercase">tổng quan</h2>
  <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-2 row-cols-xxl-4">
    <div class="col">
      <div class="card radius-10 background"
        style="background: url('https://res.cloudinary.com/dnshdled2/image/upload/v1692286127/layered-waves-haikei_lq4iov.svg');">
        <div class="card-body">
          <div class="d-flex align-items-center text-align-left">
            <div>
              <p class="mb-0 text-secondary">Tổng số đơn hàng</p>
              <h4 class="my-1 bold">{{dashboard.totalOrder||0}}</h4>
            </div>
            <div class="widget-icon-large bg-gradient-purple text-white ms-auto"><i class="bi bi-basket2-fill"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card radius-10 background"
        style="background: url('https://res.cloudinary.com/dnshdled2/image/upload/v1692286127/stacked-waves-haikei_efnrge.svg');">
        <div class="card-body">
          <div class="d-flex align-items-center text-align-left">
            <div>
              <p class="mb-0 text-secondary">Tổng doanh thu</p>
              <h4 class="my-1 bold">{{dashboard.totalPrice||0 | adminVndPipe}}</h4>
              <p class="mb-0 font-13 text-success"></p>
            </div>
            <div class="widget-icon-large bg-gradient-success text-white ms-auto"><i
                class="bi bi-currency-exchange"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card radius-10 background"
        style="background: url('https://res.cloudinary.com/dnshdled2/image/upload/v1692286127/circle-scatter-haikei_s6nxdf.svg');">
        <div class="card-body">
          <div class="d-flex align-items-center text-align-left">
            <div>
              <p class="mb-0 text-secondary">Tổng số khách hàng</p>
              <h4 class="my-1 bold">{{dashboard.users.length||0}}</h4>
              <!-- <i class="bi bi-caret-down-fill"></i> 2.7 from last week -->
              <p class="mb-0 font-13 text-danger"></p>
            </div>
            <div class="widget-icon-large bg-gradient-danger text-white ms-auto"><i class="bi bi-people-fill"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card radius-10 background"
        style="background: url('https://res.cloudinary.com/dnshdled2/image/upload/v1692286127/blob-scene-haikei_con0hk.svg');">
        <div class="card-body">
          <div class="d-flex align-items-cente text-align-left">
            <div>
              <p class="mb-0 text-secondary">Doanh thu hôm nay</p>
              <h4 class="my-1 bold">{{dashboard.todayStat.totalPrice||0 | adminVndPipe }}</h4>
              <!-- <i class="bi bi-caret-up-fill"></i> 12.2% so với hôm qua -->
              <p class="mb-0 font-13 text-success"></p>
            </div>
            <div class="widget-icon-large bg-gradient-info text-white ms-auto"><i class="bi bi-bar-chart-line-fill"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="col-12 col-lg-6 col-xl-4 d-flex">
      <div class="card radius-10 w-100">
        <div class="card-header bg-transparent">
          <div class="row g-3 align-items-center">
            <div class="col">
              <h5 class="mb-0">Top danh mục</h5>
            </div>
            <div class="col">
              <div class="d-flex align-items-center justify-content-end gap-3 cursor-pointer">
                <div class="dropdown">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="categories">
            <div class="progress-wrapper">
              <p class="mb-2">IPhone<span class="float-end">{{phones.apple}}</span></p>
              <div class="progress" style="height: 6px;">
                <div class="progress-bar bg-gradient-purple progress-sneaker" role="progressbar" style="width: 18%">
                </div>
              </div>
            </div>
            <div class="my-3 border-top"></div>
            <div class="progress-wrapper">
              <p class="mb-2">Samsung<span class="float-end">{{phones.samsung}}</span></p>
              <div class="progress" style="height: 6px;">
                <div class="progress-bar bg-gradient-danger progress-casual" role="progressbar" style="width: 20%">
                </div>
              </div>
            </div>
            <div class="my-3 border-top"></div>
            <div class="progress-wrapper">
              <p class="mb-2">Xiaomi <span class="float-end">{{phones.xiaomi}}</span></p>
              <div class="progress" style="height: 6px;">
                <div class="progress-bar bg-gradient-success progress-formal" style="width: 18%" role="progressbar">
                </div>

              </div>
            </div>
            <div class="my-3 border-top"></div>
            <div class="progress-wrapper">
              <p class="mb-2">Nokia<span class="float-end">{{phones.nokia}}</span></p>
              <div class="progress" style="height: 6px;">
                <div class="progress-bar bg-gradient-info progress-heel" role="progressbar" style="width: 7%"></div>
              </div>
            </div>
            <div class="my-3 border-top"></div>
            <div class="progress-wrapper">
              <p class="mb-2">Oneplus<span class="float-end">{{phones.oneplus}}</span></p>
              <div class="progress" style="height: 6px;">
                <div class="progress-bar bg-gradient-warning progress-sandal" role="progressbar" style="width: 7%">
                </div>
              </div>
            </div>
            <div class="my-3 border-top"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6 col-xl-4 d-flex">
      <div class="card radius-10 w-100">
        <div class="card-header bg-transparent text-align-left">
          <div class="row g-3 align-items-center">
            <div class="col">
              <h5 class="mb-0">Sản phẩm bán chạy</h5>
            </div>
            <div class="col">
              <div class="d-flex align-items-center justify-content-end gap-3 cursor-pointer">
                <div class="dropdown">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body p-0">
          <div class=" p-2 mb-3" *ngFor="let item of dashboard.bestSeller; let i = index">
            <div class="">
              <div class="d-flex align-items-center gap-3">
                <div class="">
                  <img src="{{item.image}}" alt="sp-banchay" class="img">
                </div>
                <div class="">
                  <h6 class="mb-1">{{item.name}}</h6>
                </div>
                <div class="ms-auto">
                  <p class="mb-0">{{item.quantity}} Sản phẩm</p>
                </div>
              </div>
            </div>
            <hr>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-12 col-xl-4 d-flex">
      <div class="card radius-10 w-100">
        <div class="card-header bg-transparent">
          <div class="row g-3 align-items-center">
            <div class="col">
              <h5 class="mb-0">Người mua gần đây</h5>
            </div>
            <div class="col">
              <div class="d-flex align-items-center justify-content-end gap-3 cursor-pointer">
                <div class="dropdown">

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="top-sellers-list p-2 mb-3">
          <ng-container *ngFor="let user of dashboard.users;let i = index;">
            <div class="d-flex align-items-center gap-3 sellers-list-item">
              <img src="{{user.avatar}}" class="rounded-circle img" alt="ng mua" *ngIf="i<4">
              <div>
                <h6 class="mb-1">{{user.firstName}} {{user.lastName}}</h6>
                <p class="mb-0 font-13">Mã KH: {{user.id}}</p>
              </div>
              <div class="d-flex align-items-center gap-3 fs-6 ms-auto">
                <!-- <p class="mb-0">5.0 <i class="bi bi-star-fill text-warning"></i></p> -->
              </div>
            </div>
            <hr>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <!--end row-->


  <div class="card radius-10">
    <div class="card-header bg-transparent">
      <div class="row g-3 align-items-center">
        <div class="col">
          <h5 class="mb-0">Đơn đặt hàng</h5>
        </div>
        <div class="col">
          <div class="d-flex align-items-center justify-content-end gap-3 cursor-pointer">
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table align-middle mb-0">
          <thead class="table-light">
            <tr>
              <th>Mã hóa đơn</th>
              <th>Tên khách hàng</th>
              <th>Số lượng sản phẩm</th>
              <th>Tổng tiền</th>
              <th>Ngày lập hóa đơn</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let order of dashboard.allOrders;let i = index;">
              <tr *ngIf="i<4">
                <td>{{order.result.id}}</td>
                <td>
                  <div class="d-flex align-items-center gap-3">
                    <!-- <div class="product-box border">
                      <img src="/public/img/product/100_1.jpg" alt="">
                    </div> -->
                    <div class="product-info">
                      <h6 class="mb-1">Khách hàng</h6>
                    </div>
                  </div>
                </td>
                <td>1</td>
                <td>11111</td>
                <td>{{order.result.create | date:'dd/MM/yyyy'}}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>