<div style="background-color: #24262b;">
    <footer class="footer">
        <div class="footer-item">
            <h3>TRỢ GIÚP</h3>
            <div><a href="#">Trạng thái đơn hàng</a></div>
            <div><a href="#">Chính sách đổi trả</a></div>
            <div><a href="#">Hình thức đổi trả</a></div>
            <div><a href="#">Hình thức giao hàng</a></div>
            <div><a href="#">Chăm sóc khách hàng</a></div>
        </div>
        <div class="footer-item">
            <h3>THÔNG TIN</h3>
            <div><a href="#">Tuyển dụng</a></div>
            <div><a href="#">Liên hệ hợp tác</a></div>
            <div><a href="#">FAQs</a></div>
        </div>
        <div class="footer-item">
            <h3>LIÊN HỆ</h3>
            <div><span>Địa chỉ: <span style="font-size: 1rem;">208 Nguyễn Hữu Cảnh, Phường 22, Bình Thạnh,
                        Thành phố Hồ Chí Minh</span></span>
            </div>
            <div><span>0123 456 789</span></div>
            <div><span>Email: <span style="font-size: 1rem;">fernwehShop@gmail.com</span></span></div>
            <div>
                <span>Hotline:<span style="font-size: 1rem;font-weight: 550; color: white;">
                        19001007</span></span>
            </div>
        </div>
        <div class="footer-item">
            <h3>FERNWEH SOCIAL</h3>
            <div class="footer-item-icon">
                <div><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></div>
                <div><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></div>
                <div><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></div>
            </div>
        </div>
    </footer>
</div>