.header-container {
    justify-content: flex-end;
}

.title {
    font-size: 1.5rem !important;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px;
    display: block;
    text-decoration: none;
    color: #000;
}