<div class="row py-3 w-100 m-0 px-3">
  <div class="col-8 d-flex" style="align-items: center;">
    <h5 class="bold dot-three-rem uppercase" style="margin: 0;line-height: 40px;">Quản lý kho</h5>
  </div>
  <div class="col-4 d-flex" style="align-items: center;justify-content: flex-end;">
    <button class="btn btn-common-base me-2" style="padding-left: 20px; padding-right: 20px;"
      (click)="onCreateWarehouseTicket()">
      <i class="fa fa-truck" aria-hidden="true"></i>
      Quản lý nhà phân phối
    </button>
    <button class="btn btn-common-base" style="padding-left: 20px; padding-right: 20px;"
      (click)="onCreateWarehouseTicket()">
      <i class="fa fa-plus" aria-hidden="true"></i>
      Nhập hàng
    </button>
  </div>
</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 my-3 w-100">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Tên </th>
    <td mat-cell *matCellDef="let element; let i = index" [ngClass]="i%2==0?'':'bg-whitesmoke'">
      <i class="fa fa-info-circle me-1 info-link" aria-hidden="true" [matTooltip]="'Chi tiết'"
        (click)="onProductDetail(element)"></i>
      {{element.name}}
    </td>
  </ng-container>

  <ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef> Ảnh sản phẩm </th>
    <td mat-cell *matCellDef="let element; let i = index" [ngClass]="i%2==0?'':'bg-whitesmoke'">
      <img src="{{element.phoneImages[0].link}}" alt="phone_image" style="max-height: 90px;max-width: 90px;">
    </td>
  </ng-container>

  <ng-container matColumnDef="brand">
    <th mat-header-cell *matHeaderCellDef> Hãng sản xuất </th>
    <td mat-cell *matCellDef="let element; let i = index" [ngClass]="i%2==0?'':'bg-whitesmoke'">
      <i class="fa fa-info-circle me-1 info-link" aria-hidden="true" [matTooltip]="'Chi tiết'"
        (click)="onBrandDetail(element.brand)"></i>
      {{element.brand.name}}
    </td>
  </ng-container>

  <ng-container matColumnDef="stock">
    <th mat-header-cell *matHeaderCellDef> Kho(sản phẩm) </th>
    <td mat-cell *matCellDef="let element; let i = index" [ngClass]="i%2==0?'':'bg-whitesmoke'"> {{element.quantity}}
    </td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef> Chỉnh sửa </th>
    <td mat-cell *matCellDef="let element; let i = index" [ngClass]="i%2==0?'':'bg-whitesmoke'">
      <i class="fa fa-pencil edit-link" aria-hidden="true" [matTooltip]="'Chỉnh sửa'"
        (click)="onEditProductDetail(element)"></i>
      <i class="fa fa-trash-o me-1 delete-link" aria-hidden="true" [matTooltip]="'Xóa'"
        (click)="onDeleteProductDetail(element.id)"></i>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [length]="pageLength" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOption" (page)="onPaging()"
  aria-label="Select page">
</mat-paginator>