<div class="product-detail-contain">
  <h1 class="title mb-3">{{data.title || 'Chi tiết sản phẩm'}}</h1>
  <form class="mb-3" [formGroup]="form" [enctype]="data.type==='add'?'multipart/form-data':''">
    <div class="row">
      <div class="col-12 col-md-6">
        <label for="" class="form-label">Ngày tạo</label>
        <mat-form-field *ngIf="data.type !== 'view'">
          <input matInput placeholder="" required formControlName="createDate">
        </mat-form-field>
        <p *ngIf="data.type === 'view'">{{form.controls['createDate'].value | date: 'dd/MM/yyyy' || '--' }}</p>

        <label for="" class="form-label">Phương thức thanh toán</label>
        <mat-form-field *ngIf="data.type !== 'view'">
          <input matInput placeholder="" required formControlName="paymentMethod">
        </mat-form-field>
        <p *ngIf="data.type === 'view'">{{form.controls['paymentMethod'].value || '--' }}</p>

        <label for="" class="form-label">Trạng thái thanh toán</label>
        <mat-form-field *ngIf="data.type !== 'view'">
          <input matInput placeholder="" required formControlName="paymentStatus">
        </mat-form-field>
        <p *ngIf="data.type === 'view'">{{form.controls['paymentStatus'].value || '--' }}</p>
      </div>
      <div class="col-12 col-md-6">
        <label for="" class="form-label">Trạng thái đơn hàng</label>
        <mat-form-field *ngIf="data.type !== 'view'">
          <input matInput placeholder="" required formControlName="ram">
        </mat-form-field>
        <p *ngIf="data.type === 'view'">{{getCurrentStatus(form.controls['orderStatus'].value)}}</p>

        <label for="" class="form-label">Tổng sản phẩm</label>
        <p *ngIf="data.type === 'view'">{{getTotalProduct(form.controls['orderDetail'].value)}}</p>

        <label for="" class="form-label">Tổng tiền</label>
        <mat-form-field *ngIf="data.type !== 'view'">
          <input matInput placeholder="" required required formControlName="behindCamera">
        </mat-form-field>
        <p *ngIf="data.type === 'view'">{{getTotalPrice(form.controls['orderDetail'].value)}}</p>
      </div>
      <div class="mt-3" *ngIf="data.type === 'add'">
        <input #fileInput type="file" multiple id="file" formControlName="phoneImages">
      </div>
      <div class="mt-2">
        <label for="" class="form-label">Sản phẩm</label>
        <ng-container *ngIf="data.type === 'view'">
          <p *ngFor="let phone of form.controls['orderDetail'].value">{{phone.phone.name}} - {{phone.quantity}} -
            {{phone.phone.soldPrice}}</p>
        </ng-container>
      </div>

      <div class="mt-2">
        <label for="" class="form-label">Lịch sử trạng thái đơn hàng</label>
        <ng-container *ngIf="data.type === 'view'">
          <p *ngFor="let status of form.controls['orderStatus'].value">{{status.created | date: 'dd/MM/yyyy'}} -
            {{status.status.statusType}}
          </p>
        </ng-container>
      </div>
    </div>
  </form>
  <div class="d-flex btn-container">
    <!-- [mat-dialog-close]="true" -->
    <button class="btn btn-common-reject" mat-dialog-close>Thoát</button>
  </div>
</div>