<div class="container">
    <div>
        <div class="mb-3 mt-3 brand-image-contain">
            <div class="brand-image-item" *ngFor="let brand of brandList" (click)="toggleBrand(brand.id);"
                [ngClass]="brand.isSelect?'selected':''">
                <img src="{{brand.logo}}" alt="{{brand.name}}">
            </div>
        </div>
        <div class="mb-3">
            <h2 class="bold dot-three-rem">Chọn theo nhu cầu</h2>
            <div class="w-100 d-flex mb-2" style="gap: 15px;">
                <select (change)="changePrice($event)" [ngClass]="isSelectChange(price)?'select-change':''" #price
                    class="form-select select-tag">
                    <option disabled selected [value]="-1">Giá</option>
                    <option [value]="-1">Tất cả</option>
                    <option *ngFor="let priceOption of priceOptions; let i = index;" [value]="i">
                        {{priceOptions[i]}}
                    </option>
                </select>
                <select (change)="changeCpu($event)" #cpu [ngClass]="isSelectChange(cpu)?'select-change':''"
                    class="form-select select-tag">
                    <option disabled selected [value]="-1">Chip xử lý</option>
                    <option [value]="-1">Tất cả</option>
                    <option *ngFor="let cpuOption of cpuOptions | keyvalue" [value]="cpuOption.value.value">
                        {{cpuOption.value.value}}
                    </option>
                </select>
                <select (change)="changeRam($event)" #ram [ngClass]="isSelectChange(ram)?'select-change':''"
                    class="form-select select-tag">
                    <option disabled selected [value]="-1">Dung lượng RAM</option>
                    <option [value]="-1">Tất cả</option>
                    <option *ngFor="let ramOption of ramOptions | keyvalue" [value]="ramOption.value.value">
                        {{ramOption.value.value}}
                    </option>
                </select>
                <select (change)="changeRom($event)" #rom [ngClass]="isSelectChange(rom)?'select-change':''"
                    class="form-select select-tag">
                    <option disabled selected [value]="-1">Dung lượng ROM</option>
                    <option [value]="-1">Tất cả</option>
                    <option *ngFor="let romOption of romOptions | keyvalue" [value]="romOption.value.value">
                        {{romOption.value.value}}
                    </option>
                </select>
                <select (change)="changeSize($event)" #size [ngClass]="isSelectChange(size)?'select-change':''"
                    class="form-select select-tag">
                    <option disabled selected [value]="-1">Kích thước màn hình</option>
                    <option [value]="-1">Tất cả</option>
                    <option *ngFor="let screenSizeOption of screenSizeOptions | keyvalue"
                        [value]="screenSizeOption.value.value">
                        {{screenSizeOption.value.value}}
                    </option>
                </select>
                <select (change)="changeHz($event)" #hz [ngClass]="isSelectChange(hz)?'select-change':''"
                    class="form-select select-tag">
                    <option disabled selected [value]="-1">Tần số quét</option>
                    <option [value]="-1">Tất cả</option>
                    <option *ngFor="let hzOption of hzOptions | keyvalue" [value]="hzOption.value.value">
                        {{hzOption.value.value}}
                    </option>
                </select>
            </div>
        </div>
    </div>
    <!-- cartttttt -->
    <div style="text-align: center;
        color: black;
        font-weight: bold;
        padding: 40px 0;
        font-size: 1.5rem !important;
        text-transform: uppercase;
        " *ngIf="cartFilter.length === 0">
        Không tìm thấy kết quả!</div>
    <div class="phone-contain mb-3">
        <div class="card" *ngFor="let cartItem of cartFilter; let i = index;">
            <div class="card-image" (click)="onDetail(cartItem.id)">
                <img src="{{cartItem.phoneImages[0].link}}" alt="phone-image" class="img-fluid">
            </div>
            <div class="card-title" (click)="onDetail(cartItem.id)">{{cartItem.name}}</div>
            <div class="card-chip-contain">
                <div class="card-chip" [matTooltip]="cartItem.ram" matTooltipPosition="left">{{cartItem.ram}}</div>
                <div class="card-chip" [matTooltip]="cartItem.rom" matTooltipPosition="left">{{cartItem.rom}}</div>
                <div class="card-chip" [matTooltip]="cartItem.pin" matTooltipPosition="left">{{cartItem.pin}}</div>
            </div>
            <div class="card-price">{{cartItem.soldPrice | vndPipe}}</div>
            <div class="card-description" [matTooltip]="cartItem.description" matTooltipPosition="left">
                {{cartItem.description}}</div>
            <div class="card-btn-contain">
                <div class="btn-common-base-outline mb-2" (click)="onBuyNow(cartItem)">Mua ngay</div>
                <div class="btn-common-base" (click)="addToCart(cartItem)">Thêm vào giỏ hàng</div>
            </div>
        </div>
    </div>
    <mat-paginator #p [length]="datasource.data.length" [pageSize]="pageSize" [pageSizeOptions]="pageOption"
        (page)="onPaging(p)" aria-label="Select page">
    </mat-paginator>
</div>