.body {
    background: url('/src/assets/wave.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.form-contain {
    height: 800px;
    /* background-color: #a29bfe; */
}

.form-main {
    padding: 50px 50px;
    background-color: #fff;
    border-radius: 10px;
    min-width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form-main input {
    padding: 10px 7px;
}

.form-main a:hover {
    text-decoration: underline !important;
}

.warning {
    border: 1px solid red;
}