<div class="body">
    <div class="container form-contain">
        <div class="container-fluid">
            <form class="form-main" (submit)="onSubmit()" method="post" [formGroup]="form">
                <div
                    style="text-align: center;margin-bottom: 15px;border-bottom: 1px solid var(--basecolor);padding-bottom: 7px;">
                    <img src="/src/assets/wave.svg" alt="">
                    <label for="" style="font-size: 45px;font-weight: 600;">ĐĂNG KÝ</label>
                </div>
                <div class="mb-3 mt-2">
                    <div class="row">
                        <div class="col-6">
                            <mat-form-field>
                                <mat-label>Họ</mat-label>
                                <input type="text" matInput formControlName="firstName">
                                <mat-error *ngIf="form.controls['firstName'].invalid" class="mt-2">Họ không hợp
                                    lệ</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-form-field>
                                <mat-label>Tên</mat-label>
                                <input type="text" matInput formControlName="lastName">
                                <mat-error *ngIf="form.controls['lastName'].invalid" class="mt-2">Tên không hợp
                                    lệ</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="mb-3 mt-2">
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input type="email" matInput formControlName="email">
                        <mat-error *ngIf="form.controls['email'].invalid" class="mt-2">Email không hợp lệ</mat-error>
                    </mat-form-field>
                </div>
                <div class="mb-3">
                    <mat-form-field>
                        <mat-label>Mật khẩu</mat-label>
                        <input type="text" matInput formControlName="password">
                        <mat-error *ngIf="form.controls['password'].invalid" class="mt-2">Mật khẩu không hợp
                            lệ.</mat-error>
                    </mat-form-field>
                </div>
                <div class="mb-3">
                    <div class="mb-2"><label for="file" class="form-label">Ảnh đại diện</label></div>
                    <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
                    <input hidden (change)="onFileSelected()" #fileInput type="file" id="file" formControlName="avatar">
                </div>
                <button type="submit" class="btn-common-base w-100" mat-button>Đăng ký</button>
                <div style="text-align: right;">
                    <label for="" class="mt-4">Bạn đã có tài khoản? <a [routerLink]="'login'" class="common-link">Đăng
                            nhập</a></label>
                </div>
            </form>
        </div>
    </div>
</div>