<div class="container-fluid contain-all">
    <div class="contain-header">
        <h2 class="bold dot-three-rem">Địa chỉ của tôi</h2>
        <button class="btn btn-dark" (click)="openAddAddressDialog()">Thêm địa chỉ mới</button>
    </div>
    <hr>
    <div class="mb-2">
        <h2>Địa chỉ</h2>
        <div>
            <div class="mt-2 row detailUserLocate mb-3" *ngFor="let userAddress of user.address">
                <div class="col-8">
                    <div class="row" style="position: relative;">
                        <span class="location_label col-3">Họ và tên</span>
                        <span class="col-9">{{user.firstName}} {{user.lastName}}</span>
                        <span style="background-color: #00bfa5;color: #fff;border-radius:3px ;margin-left: 10px;
                                    padding: 1px 5px;position: absolute;top: 0;right: 10px;width: auto;"
                            class="spanDefaultLocateLabel" *ngIf="userAddress.isDefault">Mặc định</span>
                    </div>
                    <div class="row">
                        <span class="location_label col-3">Số điện thoại</span>
                        <span class="col-9">{{user.phoneNumber}}</span>
                    </div>
                    <div class="row">
                        <span class="location_label col-3">Địa chỉ</span>
                        <span class="col-9">{{userAddress.detailAddress}} {{userAddress.homeletAddress}}</span>
                    </div>
                </div>
                <div class="col-4">
                    <div>
                        <button (click)="onDefault(userAddress.id)" class="btn btn-setdefault-locate"
                            style="background-color: #ff3d00;color: #fff;" *ngIf="userAddress.id != selectedId">Chọn địa
                            chỉ</button>
                        <button *ngIf="userAddress.id == selectedId" class="btn btn-setdefault-locate"
                            style="border:1px solid #ff3d00;color: #ff3d00;" disabled>Đã chọn</button>
                    </div>
                </div>
            </div>
            <hr>
            <div style="height: 5px;border-bottom: 1px solid #fff;"></div>
        </div>
    </div>
    <div class="row px-3" style="justify-content: flex-end;">
        <button class="me-3 btn btn-common-base" style="width: fit-content;" [mat-dialog-close]="selectedId">Xác
            nhận</button>
        <button class="btn btn-common-reject" style="width: fit-content;" mat-dialog-close>Trở lại</button>
    </div>
</div>